@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}

.bg {
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url("../img/speacial-bg.jpg");
    background-size: cover;
    height: 100%;
    min-height: 100vh;
    color: var(--terciary);  
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    padding: 30px;
    color: white;
    position: relative;
    width: 100vw;
}

.title {
    font-size: 42px;
    color: var(--primary);
}

.subtitle {
    opacity: .5;
    font-size: 16px;
    font-weight: 400;
}

.pointer {
    cursor: pointer;
}

:root {
    --primary: #b98d36;
    --terciary: #282b2e;
}

.margin-top {
    margin-top: 10px;
}

.margin-bottom {
    margin-bottom: 10px;
}

p {
    font-size: 14px;
    color: #eee;
    font-weight: 300;
}

.bold {
    font-weight: bold;
}

.col-primary {
    color: var(--primary);
}

.wrap {
    display: flex;
    flex-direction: row;
}

.w30perc {
    width: 32%;
    margin-right: 1%;
}

.add-btn {
    cursor: pointer;
    width: 120px;
    height: 25px;
    background-color: var(--primary);
    border: none;
    margin-top: 10px;
}

.add-btn2 {
    cursor: pointer;
    width: 120px;
    height: 25px;
    background-color: #999;
    border: none;
    margin-top: 10px;
}

.order-wrap {
    
}

.order {
    background-color: rgba(40,43,46,1.0);
    padding: 20px;
    margin-bottom: 10px;
}

.btn-odustani {
    margin-right: 10px;
    padding: 5px 20px;
    background-color: #444!important;
    border: none!important;
    color: white;
    cursor: pointer;
    font-family: inherit;
}