@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
@import './login.css';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}

.bg {
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url("../img/speacial-bg.jpg");
    background-size: cover;
    height: 100%;
    min-height: 100vh;
    color: var(--terciary);  
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    padding: 30px;
    color: white;
    position: relative;
    width: 100vw;
}

.title {
    font-size: 42px;
    color: var(--primary);
}

.subtitle {
    opacity: .5;
    font-size: 16px;
    font-weight: 400;
}

.pointer {
    cursor: pointer;
}

:root {
    --primary: #b98d36;
    --terciary: #282b2e;
}

.margin-top {
    margin-top: 10px;
}

.margin-bottom {
    margin-bottom: 10px;
}

p {
    font-size: 14px;
    color: #eee;
    font-weight: 300;
}

.bold {
    font-weight: bold;
}

.col-primary {
    color: var(--primary);
}

.wrap {
    display: flex;
    flex-direction: row;
}

.w30perc {
    width: 32%;
    margin-right: 1%;
}

.add-btn {
    cursor: pointer;
    width: 120px;
    height: 30px;
    background-color: var(--primary);
    border: none;
    margin-top: 10px;
}

.add-btn2 {
    cursor: pointer;
    width: 120px;
    height: 40px;
    background-color: #999;
    border: none;
    margin-top: 10px;
    font-size: 16px;
    font-family: inherit;
}

.order {
    background-color: rgba(40,43,46,1.0);
    padding: 0px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn {
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    cursor: pointer;
}

.btn:hover {
    background-color: #bbb;
}

.btn:hover .arr-ico {
    color: #333;
}

.arr-ico {
    font-size: 40px;
    font-weight: 900;
}

.col1 {
    padding: 15px;
}

.btn-odustani {
    margin-right: 10px;
    background-color: #444!important;
    border: none!important;
    color: white;
    cursor: pointer;
    font-family: inherit;
    height: 40px;
    width: 120px;
    font-size: 16px;
}

.workplace {
    margin-bottom: 10px;
    cursor: pointer;
    padding: 20px 30px;
    background: rgba(40,43,46,1.0);
    color: white;
    text-transform: uppercase;
}

.workplace:hover {
    background-color: var(--primary);
    color: white;
}

.d2 {
    height: 450px;
    position: relative;
    margin-top: -50px;
    margin-bottom: 20px;
}

.d3 {
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    padding-top: 50px;
    width: 100%;
    position: absolute;
    top: 0;
}

.d4 {
  position: relative;
  max-height: 100%;
  overflow: auto;
}

.d4::-webkit-scrollbar { 
    display: none; 
    }

.d5 {
    height:2000px; 
}
